body {
  padding-top: 100px;
  background: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #353535;
  line-height: 26px;
  background: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  color: #121D29;
  margin:0;
}
a {
  color: black;
  -webkit-transition: color 400ms, background-color 400ms;
  -moz-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
a:hover,
a:focus {
  text-decoration: none;
  color:  rgb(255, 193, 7);
}
hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
p{
font-size:14px;
margin:0;
}
.colo{
  margin-top:20px;
}

.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.gradiant {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
.gradiant-horizontal {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
}
.section-header {
  margin-bottom: 50px;
}
.section-header .section-title {
  font-size: 38px;
  color: #121D29;
  position: relative;
  padding-bottom: 20px;
  margin: -16px 0 20px;
}
.section-header .section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 4px;
  background: #ffc107;
}

.btn {
  border-width: 0;
  border-radius: 0;
}
/*zj*/
.phote-sun{
  width: 500px;
  height: 350px;
}
.fe{
  padding: 40px;
}
.more-detail-get{
  text-align: center;
  font-size: 18px;
  /* margin-top:100px; */
  
}
.sun-address{
  font-size: 23px;
  margin-top:20px;
}
.img-box {
  width: 12.5%;
}
.sun-info{
  margin-top:10px;
}
.last-line{
  margin-bottom: 30px;
}
.line1:hover{
  color: rgb(255, 193, 7);
  cursor: pointer;
}
.stu-img{
  height: 159px;
  width: 121px;

  /* width: 177px;
  height: 222px; */
}

.mypassword{
  width: 135px;
  height: 147px;
}
.title-publication{
  /* margin-top:10px; */
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
}
.box1,.box2{
  margin-top: 30px;
}
.info-title{
  margin-left: 20px;
  padding-top:10px;
}
.container1{
  padding-left:100px;
  margin-top: 44px;
  /* padding-left: 50px;
  padding-right: 10px; */
  /* margin-top:-100px; */
}

.title-name{
  margin-right: 30px;
  font-size: 1.2em;
  margin:0;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: "Montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}
.authors{
  font-family: "Montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility
}
.box-features1,.box-features2{
  /* width: 600px;
  /* height: 500px; */ 
  height: 500px;
  width: 600px;
  border: 1px solid #e5e5e5;
  text-align: center;
  margin-left: 21px;
  padding: 10px;
  box-shadow: 5px 5px 5px #e3e3e3;
}
.conference{
  font-family: sans-serif;
  font-style: italic;
  font-weight: 400;
}
ul{
  list-style: none;
  text-align: left;
  padding-left: 0px;
}
.list li{
  /* border-bottom:1px solid#e5e5e5; */
  margin-bottom: 10px;
}
.list1{
  padding-left: 20px; 
}
#contact-us{
  background: black;
  color: white;

}
.point{
  font-size: 24px;
  /* opacity: 0; */
  visibility: hidden;
  /* max-width:0 */
}
.scroll a:hover .point{
  /* color: red; */
  color: black;
  visibility: visible;
  /* max-width:100px; */
  /* transition: max-width .5s ease; */
}

#contact-us .colo{
  color: white;
}
.outer-box{
  padding: 0 100px;
}
.alumns{
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.alumns-student li{
  margin-bottom: 5px;
  font-size: 16px;
}
.features-title{
  font-size: 18px;
  /* width: 200px; */
  text-align: center;
  /* margin-top: 30px; */
  margin-bottom: 30px;
  padding: 10px 30px 20px 30px;
  /* padding: 10px; */
  border-bottom: 2px solid  rgb(255, 193, 7);
}
.features{
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
}
.box-features2{
  /* margin-top:-20px; */
  /* margin-left: -2px; */
}
#teaching{
  padding-top:77px;
}
#research{
  padding-top:100px;
}
.team-img{
  position: relative;

}
.inner-box{
  width: 100%;
  display: flex;
  margin-top:50px;
}
.line1{
  width: 100%;
  height: 68px;
  background-color: rgb(54, 54, 54);
  /* background-color: rgb(255, 193, 7); */
  /* opacity: 0.3; */
  color:white;
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
  box-sizing: border-box;
  
}

.alumns-box{
  width:100%;
  position: relative;
  
}
.info-peo{
  width: 200%;
  visibility: hidden;
  height: 35px;
  line-height: 35px;
  /* line-height: 50px; */
  border-radius: 5px;
  background: black;
  position: absolute;
  /* padding: 4px; */
  bottom: -43px;
  z-index:999;
  opacity: 0.9;
  color:#fff;
}

.info-peo-left{
  width: 200%;
  visibility: hidden;
  height: 35px;
  line-height: 35px;
  /* line-height: 50px; */
  border-radius: 5px;
  background: black;
  position: absolute;
  /* padding: 4px; */
  bottom: -43px;
  left: -120px;
  z-index:999;
  opacity: 0.9;
  color:#fff;
}
.info-peo-ly{
  left: -260%;
}
.info-peo-mid{

  bottom: -43px;
  left: -100px;

}
/* .triangle_border_up_left2{
  left: 20%;
} */
.info-peo-longer-left{
  left: -250%;
}
.info-peo-long{
  width: 250%;
}
.info-peo-longer{
  width: 350%;
}
.info-peo-longest{
  width: 450%;
}
.info-peo-l4{
  left: -200%;;
}
.alumns-box .items:hover{
  background: rgb(255, 193, 7);
  color: #Fff;
}
/* .alumns-box .items:hover */

.alumns-box .items:hover .info-peo{
  visibility: visible;
  
}
/* .info-box-big{
  position: absolute;
  bottom: 0px;
  
} */
.alumns-box .items{
  float: left;
  width: 10.5%;
  position: relative;
  margin-left: 1%;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
}
.triangle_border_up{
  width:0;
  height:0;
  border-width:0 7px 7px;
  border-style:solid;
  border-color:transparent transparent #333;/*透明 透明  灰*/
  /* margin:40px auto; */
  position:absolute;
  top:-7px;
  margin-left: 50px;
}
.triangle_border_up_ly{
  width:0;
  height:0;
  border-width:0 7px 7px;
  border-style:solid;
  border-color:transparent transparent #333;/*透明 透明  灰*/
  /* margin:40px auto; */
  position:absolute;
  top:-7px;
  margin-left: 90%;
}
.triangle_border_up_lj{
  width:0;
  height:0;
  border-width:0 7px 7px;
  border-style:solid;
  border-color:transparent transparent #333;/*透明 透明  灰*/
  /* margin:40px auto; */
  position:absolute;
  top:-7px;
  left: 30%;
}
.triangle_border_up_left{
  width:0;
  height:0;
  border-width:0 7px 7px;
  border-style:solid;
  border-color:transparent transparent #333;/*透明 透明  灰*/
  /* margin:40px auto; */
  position:absolute;
  top:-7px;
  right: 100px;
  margin-left: 50px;
}
.triangle_border_up_l3{
  width:0;
  height:0;
  border-width:0 7px 7px;
  border-style:solid;
  border-color:transparent transparent #333;/*透明 透明  灰*/
  /* margin:40px auto; */
  position:absolute;
  top:-7px;
  left: 30%;
  margin-left: 50px;
}
.triangle_border_up_left1{
  width:0;
  height:0;
  border-width:0 7px 7px;
  border-style:solid;
  border-color:transparent transparent #333;/*透明 透明  灰*/
  /* margin:40px auto; */
  position:absolute;
  top:-7px;
  left: 70%;
  margin-left: 50px;
}
.triangle_border_up_qg{
  width:0;
  height:0;
  border-width:0 7px 7px;
  border-style:solid;
  border-color:transparent transparent #333;/*透明 透明  灰*/
  /* margin:40px auto; */
  position:absolute;
  top:-7px;
  left: 60%;
  margin-left: 50px;
}
/* .triangle_border_up span{
  display:block;
  width:0;
  height:0;
  border-width:0 28px 28px;
  border-style:solid;
  border-color:transparent transparent #fc0;/*透明 透明  黄*/

.box-res{
  width: 100%;
  height: 266px;
  margin-right: 5%;
  border: 1px solid #e5e5e5;
  box-shadow: 5px 5px 5px #e4e4e4;
  /* text-align: left; */
}
.box-res ul{
  list-style: square;
  /* text-align: left; */
}
.list-items{
  padding: 30px;
}
.box-res ul li a{
  color: black;
}

.box-res:last-child{
  margin-right: 0;
}
.course-box{
  width: 100%;
  display: flex;
  font-size: 24px;
  margin-top:50px;
}
.course-box p{
  font-size: 20px;
  font-weight: bolder;
  /* color: rgb(255, 193, 7); */
}
.course-box a{
  font-size: 16px;
}
.course-box a:hover{
  font-size: 16px;
  color:  rgb(255, 193, 7);
}
.cfps a:hover{
  color:  rgb(255, 193, 7);
}
.course-box1{
  height: 200px;
  width: 23%;
  /* background: #f1f1f1; */
  margin-right: 2%;
  padding:60px 0 0 0;
  text-align: center;
  position: relative;
  border: 1px solid #e4e4e4;
  box-shadow: 3px 3px 3px #e3e3e3;
  /* font-size: 40px; */
  /* color: red; */
}
.course-box1:hover{
  cursor: pointer;
}
.course-box2{
  height: 200px;
  width: 23%;
  box-shadow: 3px 3px 3px #e3e3e3;
  margin-right: 2%;
  padding:60px 0 0 0;
  position: relative;
  border: 1px solid #e4e4e4;
  /* background: #e5e5e5; */
  /* padding:30px; */
  text-align: center;
  /* font-size: 24px; */
}
.course-box-address{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  /* opacity: 0; */
  opacity: 1;
  visibility: visible;
  /* visibility: hidden; */
  background: rgba(0, 0, 0, 0.72);
  /* background: rgba(0, 0, 0, 0.72); */
  /* opacity: 0.4; */
}
.course-box-address a{
  color: #ffffff;
}
.first a{ 
  color: rgb(255, 193, 7);
}
/* .course-box1:hover .course-box-address{
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d( 0px, 0px, 0px );
  -moz-transform: translate3d( 0px, 0px, 0px );
  -ms-transform: translate3d( 0px, 0px, 0px );
  -o-transform: translate3d( 0px, 0px, 0px );
  transform: translate3d( 0px, 0px, 0px );
} */
.course-box2:hover .course-box-address{
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d( 0px, 0px, 0px );
  -moz-transform: translate3d( 0px, 0px, 0px );
  -ms-transform: translate3d( 0px, 0px, 0px );
  -o-transform: translate3d( 0px, 0px, 0px );
  transform: translate3d( 0px, 0px, 0px );
}
.bl a{
  color: black;
}

.team-img .p-mask{
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.72);
  bottom: 0%;
  height: 30px;
  position: absolute;
  padding:3em 0 .6em;
  width: 99%;
  -webkit-transform: translate3d( 0px, 100%, 0px );
  -moz-transform: translate3d( 0px, 100%, 0px );
  -ms-transform: translate3d( 0px, 100%, 0px );
  -o-transform: translate3d( 0px, 100%, 0px );
  transform: translate3d( 0px, 100%, 0px );
  /* /* -webkit-transition: all .5s ease 0s; */
  /* -moz-transition: all .5s ease 0s;
  transition: all .5s ease 0s;  */
  text-align: center;
}
.team-img .p-mask-small{
  padding:1.5em 0 .6em;
  
}
.team-img:hover .p-mask{
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d( 0px, 0px, 0px );
  -moz-transform: translate3d( 0px, 0px, 0px );
  -ms-transform: translate3d( 0px, 0px, 0px );
  -o-transform: translate3d( 0px, 0px, 0px );
  transform: translate3d( 0px, 0px, 0px );
}
.info-details{
  color: white;
  position: absolute;
  font-size: 10px;
  top:4px;
  left: 33px;
}
.info-details2{
  color: white;
  position: absolute;
  font-size: 10px;
  top:4px;
  left: 13px;
}
.info-details1{
  color: white;
  font-size: 10px;
  position: absolute;
  top:20px;
  left: 30px;
}


@media only screen and (min-width: 768px) {
 
  }




.btn.btn-primary {
  background: #2196F3;
  color: #FFFFFF;
  padding: 10px 20px;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #F6D600;
}
.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  position: relative;
}
.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40%;
  border-bottom: 1px solid #141414;
}
#features h2{

color: #fff;}

#features p{

color: #A0A0A0;}
#features .media-heading{
color: #fff;
}
ul.nostyle {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
ul.nostyle i {
  color: #45aed6;
}
.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}
.navbar-toggle{
border-radius: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {border-color: #141414;}
.navbar-nav>li>a {
text-transform: uppercase;
}
@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
/*************************
*******Header******
**************************/
#main-nav.navbar-default {background: #f3f0f0;}
#main-nav.navbar-default .navbar-nav > li.active > a, #main-nav.navbar-default .navbar-nav > li.open > a, #main-nav.navbar-default .navbar-nav > li:hover > a 
{border-top: 5px solid rgb(255, 193, 7);
}
.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar.navbar-default .navbar-toggle {
  margin-top: 32px;
}
.navbar.navbar-default .navbar-brand {
  height: auto;
  padding: 22px 15px 21px;
  font-size:36px;
  font-family: 'Times New Roman', Times, serif;
}
@media only screen and (min-width: 768px) {
  #main-nav.navbar-default {
    background: #f3f3f3;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  }
  #main-nav.navbar-default .navbar-nav > li > a {
    padding-top: 23px;
    font-size: 12px;
    box-sizing: border-box;
    /* font-weight: bolder; */
    /* padding-bottom: 40px; */
  }
  /* .navbar-default .navbar-nav>li>a {
	color: #383838;
	} */
  /* #main-nav.navbar-default .navbar-nav > li.active > a,
  #main-nav.navbar-default .navbar-nav > li.open > a,
  /* #main-nav.navbar-default .navbar-nav > li:hover > a {
    background: #ffc107;
    color: #141414;
    border-top: 6px solid #f3b600;
    box-sizing: border-box;
    /* padding: 34px 15px; */
  /* } */ 
  #main-nav.navbar-default .navbar-nav > li:hover > span{
   /* color:red; */
  }
  /* #main-nav.navbar-default .dropdown-menu {
    padding: 0 20px;
    min-width: 220px;
    background-color: rgba(26, 28, 40, 0.9);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-clip: inherit;
  } */
  #main-nav.navbar-default .dropdown-menu > li {
    border-left: 3px solid transparent;
    margin-left: -20px;
    padding-left: 17px;
    -webit-transition: border-color 400ms;
    transition: border-color 400ms;
  }
  #main-nav.navbar-default .dropdown-menu > li > a { 
    padding: 15px 0;
    color:#A8A8A8; 
  }
  #main-nav.navbar-default .dropdown-menu > li:first-child > a {
    border-top: 0;
  }
  #main-nav.navbar-default .dropdown-menu > li.active,
  #main-nav.navbar-default .dropdown-menu > li.open,
  #main-nav.navbar-default .dropdown-menu > li:hover {
    border-left-color: #45aed6;
  }
  #main-nav.navbar-default .dropdown-menu > li.active > a,
  #main-nav.navbar-default .dropdown-menu > li.open > a,
  #main-nav.navbar-default .dropdown-menu > li:hover > a {
    color: #45aed6;
    background-color: transparent;
  }
}
#main-slider {
  overflow: hidden;
}
#main-slider .item {
  height: 700px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
#main-slider .slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #000;
  position: relative;
}
#main-slider .slider-inner h2 {
  /* margin-top: 180px; */
  font-size: 34px;
  line-height: 49px;
  color: #FFFFFF;
  /* text-align: left; */
  text-transform: uppercase;
  letter-spacing: 2px;
}
#main-slider .slider-inner h2 > span {
  color: #45aed6;
}
#main-slider .slider-inner .btn {
  margin-top: 10px;
  background-color: #FFFFFF;
  color: #121D29;
}
/* #main-slider .owl-prev, */
/* #main-slider .owl-next {
  position: absolute;
  top: 47%;
  background-color: rgba(20, 20, 20, 0.68);
  color: #ffc107;
  font-size: 30px;
  display: inline-block;
  margin-top: -35px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  z-index: 5;
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
  border-radius: 50%;
} */
#main-slider .owl-prev:hover,
#main-slider .owl-next:hover {
  background-color: #141414;
}
#main-slider .owl-prev {
  left: -35px;
  text-indent: 14px;
}
#main-slider .owl-next {
  right: -35px;
  text-indent: -14px;
}
#bar {
  width: 0%;
  max-width: 100%;
  height: 2px;
  background: #fff;
}
#progressBar {
  margin-top: -4px;
  position: relative;
  z-index: 999;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}
#hero-text {
  padding: 26px 0;
  /* height: 500px; */
  /* background-color: #FFC107; */
  border-bottom:2px solid #EAEAEA;
  color: #121D29;
}
#hero-text h2 {
  margin-top: 0;
  color: #121D29;
}
#hero-text .btn {
  margin-top: 40px;
  background-color: #FFFFFF;
  color: #121D29;
}
#cta2 {
  background: #45b1da;
  color: #fff;
  padding-top: 70px;
}
#cta2 .btn {
  margin-top: 10px;
}
#cta2 h2 {
  color: #fff;
  font-size: 44px;
  line-height: 1;
}
#cta2 h2 > span {
  color: #45aed6;
}
#features {
  padding: 100px 0;
  background: #141414;
}
#features .media.service-box:first-child {
  margin-top: 80px;
}
#services {
  padding: 100px 0 75px;
}
/*==================  Hexagon  ======================*/
.hexagon {
  display: inline-block;
  position: relative;
  padding: 45px 0;
  margin-bottom: 20px;
  /* background: #000; */
}
/* .hexagon .inner {
  vertical-align: middle;
  display: table-cell;
  width: 150px;
  height: 87px;
  border-left: 1px solid #ffc107;
  border-right: 1px solid #ffc107;
} */
/* .hexagon:before, .hexagon:after {
  content: '';
  position: absolute;
  top: 45px;
  left: 0;
  width: 150px;
  height: 87px;
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  border-right: 1px solid #ffc107;
  border-left: 1px solid #ffc107;
} */
.hexagon:after {
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
/* .hexagon .inner .fa {
    text-align: center;
    font-size: 50px;
    width: 100%;
    color: #ffc107;
} */

.media.service-box {
  margin: 25px 0 36px;
  text-align: center;
}
.media.service-box .pull-left {
  margin-right: 20px;
}
.media.service-box .pull-left > i {
  font-size: 54px;
  height: 67px;
  line-height: 64px;
  text-align: center;
  width: 64px;
  color: #05BA8E;
  transition: background-color 400ms, background-color 400ms;
  position: relative;
}
 
.media.service-box:hover .pull-left > i {
  color: #121D29;
}
.carousel-caption{position: absolute;width: 100%;float: left;background: rgba(0, 0, 0, 0.18);margin: 0;left: 0;right: 0;bottom: 0;top: 0;height: 100%;}
.carousel-content{
position:absolute;
	
}
#portfolio {
  padding: 42px 0;
  /* background: #f5f5f5; */
}
#portfolio .portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0 0 50px;
  display: inline-block;
}
#portfolio .portfolio-filter > li {
  float: left;
  display: block;
}
#portfolio .portfolio-filter > li a {
  display: block;
  padding: 7px 15px;
  margin:0px 2px;
  background: #fff;
  color: #64686d;
  position: relative;
}
#portfolio .portfolio-filter > li a:hover,
#portfolio .portfolio-filter > li a.active {
  background: #E95D90;
  color: #fff; 
} 
#portfolio .portfolio-items {
  margin: -15px;
}
#portfolio .portfolio-item {
  width: 24.9%;
  float: left;
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#portfolio .portfolio-item .portfolio-item-inner {
  position: relative;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
  opacity: 0;
  transition: opacity 400ms;
  -webkit-transition: opacity 400ms;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 18px 0 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  height:100%;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info h3 {
  font-size: 16px;
  line-height: 1;
  margin: 0;
  color: #fff;
  margin-top: 15%;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview { 
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #F1F1F1;
  display:block;
  text-align: center;
margin: 15px auto;
  font-size: 40px;
}
#portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.img-thumbnail {
display: inline-block;
max-width: 100%;
height: auto;
line-height: 1.42857143;
border: 1px solid #ddd;
border-radius: 0px;
padding:0px;
-webkit-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
margin-bottom: 15px;
}
#testimonial {
  background: #292929;
  background-size: cover;
  padding: 100px 0;
  color: #fff;
}
#testimonial h4 {
  color: #fff;
  margin-bottom: 8px;
}
#testimonial small {
  display: block;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
}
#testimonial .btns {
  margin-top: 10px;
}
#carousel-testimonial a.btn.btn-primary.btn-sm {
background: transparent;
border: 1px solid rgba(255, 255, 255, 0.2);
margin: 0 8px;
color: #fff;}
#about {
  padding: 100px 0;
}
.carousel-content{
  padding: 20px;
  color: #fff;
  position: absolute;
  /* float: left; */
  left: 0;
  /* background: rgba(20, 20, 20, 0.72); */
  /* text-align: center; */
  /* width: 28%; */
  bottom: 0px;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.carousel-content p{font-size: 16px;/* text-align: left; */text-transform: uppercase;}
.carousel-content .btn{

}
.imgs img{
  padding: 0;
  background-color: #F6D600;
}
/*Team*/ 
#our-team {
  padding: 100px 0;
}
#our-team .team-member {
  padding: 10px;
  border: 2px solid #ffffff;
  /* background: #BEBEBE; */
}
#our-team .team-member .team-img {
  margin: -15px -15px 0 -15px;
}
#our-team .team-member .team-info {
  padding-bottom: 10px;
  text-align: center;
} 
.team-info h4{
  font-size: 14px;
  width: 120px;
  margin-top:10px;
  margin-left: -20px;
}
#our-team .team-member:hover .social-icons > li > a {
  background: #45aed6;
}
#our-team .team-member:hover .social-icons{ 
height:35px; 
}
#our-team .social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  height:0px; 
  overflow:hidden;
  -webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
    transition: height 1s;
}
#our-team .social-icons > li {
  display: inline-block;
}
#our-team .social-icons > li > a {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  background: #222534;
  border-radius: 3px;
}
.divider {
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: -moz-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -webkit-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -ms-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  width: 95%;
  height: 1px;
}
.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #eeeeee;
}
.progress .progress-bar.progress-bar-primary {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.nav.main-tab {
  background: #eee;
  border-bottom: 3px solid #222534;
  border-radius: 3px 3px 0 0;
}
.nav.main-tab > li > a {
  color: #272727;
}
.nav.main-tab > li.active > a {
  background: #222534;
  color: #45aed6;
}
.nav.main-tab > li:first-child > a {
  border-radius: 3px 0 0 0;
}
.nav.main-tab > li:last-child > a {
  border-radius: 0 3px 0 0;
}
.tab-content {
  border: 1px solid #eee;
  border-top: 0;
  padding: 20px 20px 10px;
  border-radius: 0 0 3px 3px;
}
.panel-default {
  border-color: #eee;
}
.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #eee;
}
.panel-default > .panel-heading .panel-title {
  font-size: 14px;
  font-weight: normal;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #eee;
}
#business-stats {
  padding: 100px 0 70px;
  background: #132125;
  background-size: cover;
  color: #fff;
}
#business-stats h1,
#business-stats h2,
#business-stats h3,
#business-stats h4 {
  color: #fff;
}
#business-stats strong {
  display: block;
  margin-bottom: 30px;
}
.business-stats {
  display: inline-block;
  width: 140px;
  height: 140px;
  font-size: 24px;
  line-height: 140px;
  border: 3px solid #fff;
  border-radius: 100px;
  margin-bottom: 20px;
}
#pricing {
  padding: 100px 0 70px;
}
#pricing ul.pricing {
  list-style: none;
  padding: 0;
  margin: 70px 0 30px;
  border: 5px solid #eee;
  padding: 15px;
  text-align: center;
  /* background: #EEE; */
}
#pricing ul.pricing li {
  display: block;
  padding: 10px;
}
#pricing ul.pricing li.plan-header {
  /* background: #eee; */
  margin: -15px -15px 10px;
  padding: 15px 15px 30px;
  border: 0;
}
#pricing ul.pricing li.plan-header .price-duration {
  position: relative;
  margin-top: 15px;
  top: -10px;
  display: inline-block;
  width: 100%;
  height: 116px; 
  color: #000;  
  border-bottom: 1px dashed #696363;
}
#pricing ul.pricing li.plan-header .price-duration > span {
  display: block;
  line-height: 1;
}
#pricing ul.pricing li.plan-header .price-duration > span.price {
  font-size: 24px;
  font-weight: 700;
  margin-top: 35px;
  /* background: #ffffff; */
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: block;
  clear: right;
  margin: 0 auto;
  line-height: 150px;
  font-size: 32px;
}
#pricing ul.pricing li.plan-header .price-duration > span.duration {
  margin-top: 5px;
}
#pricing ul.pricing li.plan-header .plan-name {
  margin-top: 10px;
  font-size: 24px;
  color: #121D29;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}
/* #pricing ul.pricing.featured {
  background: #ffffff;
  border-color: #ffc107;
} */
#pricing ul.pricing.featured li.plan-header {
  /* background: #D7D7D7; */
}
#pricing ul.pricing.featured li.plan-header .plan-name {
  color: #121D29;
}
#contact-us {
  padding:50px 0 10px;
  /* background: #D2D2D2; */
  color: #121D29;
  opacity: 0.8;
}
#contact-us h1,
#contact-us h2 {
  color: #121D29;
}
/*Contact*/
 .contact-info{
 padding:60px 0;
 }
.contact-info address {
margin-bottom: 20px;
font-style: normal;
line-height: 27px;
font-size: 15px;
}
.contact-info .form-control { 
padding: 6px 12px;
border-radius: 0;
}
 
/***********************
********* Footer ******
************************/
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #141414;
}
/* #footer a {
  color: #ffc107;
} */
#footer a:hover {
  color: #45aed6;
}
#footer ul {
  list-style: none;
  padding: 0;
  margin: 0 -7.5px;
}
#footer ul > li {
 display: inline-block;
 background: rgb(54, 54, 54);
 padding: 3px 0;
 width: 31px;
 text-align: center;
}
@media only screen and (min-width: 768px) {
  #footer .social-icons {
    float: right;
  }
  
  
}
@media only screen and (max-width: 480px){
  .fe{
    padding: 0;
  }
  .sun-info{
    margin-top:10px;
  }
  .phote-sun{
      width: 100%;
      height: auto;
  }
  .container1{
    padding: 0;
    /* padding-left:100px;  */
  }
  .section-header .section-title {
    font-size: 19px;
  }
  .mypassword{
    width: 100%;
    height: 160px;
  }
  .info-title{
    padding: 0;
  }
  .more-detail-get{
    font-size: 24px;
   
    /* margin-top:10px; */
  }
  .more-detail-get a{
    color: black
  }
  .more-detail-get a:hover{
    color: rgb(255, 193, 7);
  }
  #portfolio{
    padding: 20px;
  }
  #teaching{
    padding-top: 60px;
  }
  .features{
    width: 100%;
    padding-left: 3%;
    padding-right: 2%;
    display: flex;
  }
  .box-features1,.box-features2{
    width: 47.5%;
    
  }
}
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
  
}
@media only screen and (max-width: 480px) {
#portfolio .portfolio-filter {
list-style: none;
padding: 0;
margin: 0 0 12px;
}
#portfolio .portfolio-item{
	width:40%;
}
#portfolio .portfolio-filter > li a {
display: block;
padding: 7px 15px;
margin: 5px 2px;
}
	#portfolio .portfolio-item {
	width: 48.9%;
	padding: 8px;
	}
	#portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview {
width: 28px;
height: 24px;
line-height: 24px; 
margin: 9px auto;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
padding: 7px 0 0;
}
}